/* input{
    background-color: red;
} */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
   

    
}
.form{
    text-align: center;
    border: 2px solid black;
    width:fit-content;
    backdrop-filter: blur(3px);
    margin-top: 20px;
    box-shadow: 10px 10px black;
    
    

}
label{
    color:black;
    font-weight: bold;
    font-style: italic;

}
.buy{
    margin: 10px;
    font-size: large;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    
}
button:hover{
    background-color:rgb(194, 69, 69);
    font-size: larger;
}
    
    

h1{
    word-spacing: 10px;
    letter-spacing: 10px;
    text-decoration: underline;
    padding: 10px;
}

